<section>
    <h2>Get in Touch</h2>
    <div class="primary">
        <p>Primary</p>
        <span><i class="uil uil-envelope"></i></span>
    </div>
    <div class="social">
        <span><i class="uil uil-github" (click)="onRedirectGitHub()"></i></span>
        <span><i class="uil uil-linkedin" (click)="onRedirectGitHu2b()"></i></span>
    </div>
    <div class="renaudar">
       
        <button class="btn-cv" onclick="window.open('/assets/MamaniMamaniAlvaro_F.pdf')">Descargar Curriculum</button>
    </div>
</section>