<section class="section">
    <h1 title="title">About me</h1>
    <p class="section__text__p">Hello! I'm Alvaro, a passionate software developer with experience in a variety of
        technologies and programming languages. My primary focus is on web development, and I am currently at an
        intermediate level with Angular 16, allowing me to easily create dynamic and modern web applications. I also
        have experience with React, which enables me to approach projects from different angles.
    </p>
    <p>
        My knowledge of databases is solid, with experience in MySQL and SQL for designing and managing efficient and
        scalable databases. On the server side, I have experience using PHP and Node.js to develop robust and scalable
        applications.
    </p>

    <p>
        I am passionate about programming and am always on the lookout for opportunities to learn new technologies and
        improve my skills. I believe in the importance of writing clean and efficient code, and I always strive to
        deliver high-quality solutions to the challenges I encounter.
    </p>

 
</section>